<footer>
    <div class="container">
    <div class="footer-left"><a href="/"><i class="fas fa-globe"></i>Works</a></div>
    <a href="#" class="menu-icon"><i class="fas fa-align-justify"></i></a>
    <div class="footer-right">
        <ul>
            <li><a href="/e_sentence">English</a></li>
            <li><a href="#">採用</a></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>
    </div>
</div>
</footer>